.about {
    padding-top: 40px;  

    .title-line::before {
        left: 80px !important;
        background-color: #DEDEDE !important;
    }

    .wwd-text {
        text-indent: 30px !important;
    }

    .wwd__desc {
        margin: 0;
    }
}

.team__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000;
}

.swiper-about {
    margin-top: 37px;
    overflow-x: hidden;
}

.swiper-slide-team {
    min-width: 140px;
}

.about__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.about__boss {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.about__boss-name {
    margin-top: 44px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #385A87;
}

.about__boss-position {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #A7A7A7;
}

.swiper-wrapper__about {
    display: flex;
    flex-flow: row nowrap;
}

.team__list-img {
    width: 126px;
    height: 132px;
    // max-width: 50%;
    background: #DEDEDE;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}

.team__list-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #385A87;
    letter-spacing: -1px;
}

.team__list-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #A7A7A7;
    letter-spacing: -1px;
}

.map__wrapper {
    border-radius: 48px;
}

.ymaps-2-1-79-copyright {
    margin-left: 0 !important;
    margin-right: 26px !important;
}

.map {
    padding: 50px 0;
}

.ymaps-2-1-79-map ymaps, .ymaps-2-1-79-map ymaps:after, .ymaps-2-1-79-map ymaps:before {
    border-radius: 48px;
}

.ymaps-2-1-79-controls__control_toolbar, .ymaps-2-1-79-gototaxi, .ymaps-2-1-79-gotoymaps {
    display: none !important;
}

.map__wrapper {
    display: flex;
    justify-content: center;
}

#map {
    width: 100% !important;
    height: 300px !important;
    border-radius: 48px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    #map {
        height: 443px !important;
    }
}

@media (min-width: 1025px) {
    .about {
        padding-top: 40px;  
    
        .title-line::before {
            left: 210px !important;
        }

        .wwd-text {
            font-size: 16px !important;
            line-height: 25px !important;
        }
    }

    .team {
        margin-top: 30px;
    }

    .team__title {
        text-align: left;
    }

    .about__wrapper {
        flex-flow: row nowrap;
        align-items: flex-start;
        padding-bottom: 65px;
        border-bottom: 1px solid #28D2E9;
    }

    .about .what-we-do {
        padding: 0;
    }

    .pagination__about {
        display: none;
    }

    .swiper-next-about, .swiper-prev-about {
        display: none;
    }

    #map {
        min-height: 602px !important;
    }
}