.header {
    background-color: #385A87;
}

.header__burger {
    z-index: 11;
}

.header__logo {
    z-index: 11;
}

.header__burger-btn {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.header__burger-btn.active {
    .burger-btn-top {
        margin-left: auto;
        transform: rotate(-45deg);
        transition: transform .2s ease-in-out;
        top: 0;
    }
    
    .burger-btn-mid {
        display: none;
    }
    
    .burger-btn-bot {
        margin-left: auto;
        width: 23px;
        transform: rotate(45deg);
        transition: transform .2s ease-in-out;
        top: 1px;
    }
}

.header__burger-btn {
    position: relative;
}

.burger-btn-top {
    display: block;
    // margin-left: auto;
    width: 23px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 0;
}

.burger-btn-mid {
    display: block;
    // margin: 4px 0;
    // margin-left: auto;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.burger-btn-bot {
    display: block;
    // margin-left: auto;
    width: 17px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 6px;
    right: 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
}

.header__menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;
    background-color: #385A87;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 200px 0 0;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, z-index .2s ease-in-out;
    
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.header__nav-item {
    margin-bottom: 20px;
    text-align: center;
}

.header__callback {
    margin-top: 233px;
}

.header__callback-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header__callback-tel {
    font-size: 14px !important;
    line-height: 18px !important;
}

.header__callback-mail {
    font-size: 13px !important;
    line-height: 16px !important;
}

.header__menu.active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
}

.header__nav-link {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__callback-address {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}




@media (min-width: 768px) {
    .header__wrapper {
        height: 124px;
    }

    .header__nav-link  {
        font-size: 36px;
        line-height: 44px;
    }

    .header__callback-tel {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    .header__callback-mail {
        font-size: 18px !important;
        line-height: 23px !important;
    }

    .header__callback-address {
        font-size: 18px;
        line-height: 21px;
    }
}

@media (min-width: 1025px) {

    .header__callback-address {
        display: none;
    }

    .header__burger {
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-flow: row nowrap;
        overflow-y: unset;
        padding: 0;
        position: unset;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }

    .header__callback {
        margin-top: 0;
    }

    .header__nav-list {
        display: flex;
    }

    .header__nav-item {
        margin-right: 46px;
        margin-bottom: 0;
    }

    .header__nav-link {
        font-size: 18px !important;
        line-height: 22px !important;
    }

    
}