.services {
    padding: 42px 0 54px;
    background: #385A87;
}

.services__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 70px;
    // flex: 0 0 49%;
}

.services__list-item {
    margin-bottom: 45px;
    min-width: 145px;
    max-width: 145px;
    position: relative;
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        width: 34px;
        height: 34px;
        position: absolute;
        top: -30px;
        left: auto;
        right: auto;
        background-image: url('../img/bg-serv-1.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:nth-child(2)::after {
        background-image: url('../img/bg-serv-2.svg');
    }

    &:nth-child(3)::after {
        background-image: url('../img/bg-serv-3.svg');
    }

    &:nth-child(4)::after {
        background-image: url('../img/bg-serv-4.svg');
    }
}

.services__list-desc {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .services__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .services__list {
        justify-content: space-between;
        margin-left: 45px;
    }

    .services__list-item:not(:last-child) {
        margin-right: 14px;
    }

    .services__list-item {
        min-width: unset;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media (min-width: 1025px) {
    .services {
        padding-bottom: 0;
        padding-top: 0;
    }

    .services__wrapper {
        justify-content: space-between !important;
    }
    .services__title {
        font-size: 28px;
        line-height: 28px;
    }

    .services__list {
        // margin-left: 160px !important;
        // width: 100%;
        margin: 0;
        justify-content: space-between;
    }

    .services__list-item {
        margin-bottom: 0;
        &::after {
            width: 42px;
            height: 42px;
            top: 32px;
        }

        &:not(:last-child) {
            margin-right: 55px !important;
        }
    }

    .services__list-desc {
        margin: 0;
        margin-top: 97px;
        margin-bottom: 45px;
        font-size: 15px;
        line-height: 16px;
    }
}